{% extends "index.html" %}

{% block title %}{{ config.title }} | {{ page.title }}{% endblock title %}
{% block meta_title %}{{ page.title }} | {{ config.title }}{% endblock meta_title %}
{% block meta_ogp_image %}{{ page.extra.ogp_image }}{% endblock meta_ogp_image %}
{% block meta_url %}{{ page.slug }}{% endblock meta_url %}
{% block description %}{{ page.description | default(value=config.description) }}{% endblock description %}
{% block twitter_meta %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@yude_jp">
<meta name="twitter:creator" content="@yude_jp">
<meta name="twitter:title" content="{{ page.title }} | {{ config.title }}">
<meta name="twitter:description" content="{{ page.description }}">
<meta name="twitter:image" content="{{ page.extra.ogp_image }}">
{% endblock twitter_meta %}
{% block header %}
<header class="space">
    <img src="/images/avatar.webp" height="100px" width="100%" style="object-fit: cover;" alt="yude.jp header" />
    <a href="/" style="color: inherit; text-decoration: none;"><h1>{{ config.title }}</h1></a>
    {% if config.extra.links %}
    <nav class="header-links">
        {% for link in config.extra.links %}
        <a href="{{ link.href }}">{{ link.title }}</a>
        {% endfor %}
    </nav>
    {% endif %}
</header>
{% endblock header %}

{% block content %}
<main>
    <h1>{{ page.title }}</h1>
    {% if page.date %}
    <p class="secondary">{{ page.date | date(format="%-d %B, %Y") }}</p>
    {% endif %}
    <div class="space"></div>
    {{ page.content | safe }}
</main>
{% endblock content %}
